block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(
            http-equiv="x-ua-compatible"
            content="ie=edge"
        )

        title #{title}

        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )

        link(
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
        )
        link(
            rel="stylesheet"
            href="assets/stylesheets/main.min.css"
        )


    body
        .page

            // page header
            //- header.page-head(role="banner")
            //-     .page__inset
            //-         block header


            // page body
            main.page-body(role="main")
                .page__inset

                    block content


            // page footer
            //- footer.page-foot(role="contentinfo")
            //-     .page__inset
            //-         block footer


